// banner style
.banner {
  position: relative;
  overflow: hidden;

  .block {
    padding: 5rem 11.25rem 2.5rem;

    @include desktop-xl {
      padding: 5rem 1.875rem 2.5rem;
    }

    @include mobile {
      padding: 5rem .9rem 2.5rem;
    }
  }

  .block,
  .banner-image {
    position: relative;
    z-index: 3;
  }

  .has-circle {
    position: absolute;
    top: 0;
    left: .9rem;
    height: calc(50% + 10rem);
    width: calc(100% - 1.875rem);
    border-radius: 1.875rem;
    background-color: rgba($primary-color, .05);
    z-index: 1;

    .wave-1 {
      position: absolute;
      top: 0;
      right: 0;
    }

    .circle-1 {
      top: 3.125rem;
      left: 11%;
    }

    .circle-2 {
      top: 29%;
      left: 3%;

      @include desktop {
        display: none;
      }
    }

    .circle-3 {
      top: 45%;
      left: 22%;
    }

    .circle-4 {
      bottom: 35%;
      left: 15%;

      @include desktop {
        left: 5%;
      }
    }

    .circle-5 {
      bottom: 8%;
      left: 6%;

      @include mobile-xs {
        left: 40%;
      }
    }

    .circle-6 {
      top: 6.25rem;
      right: 12%;
    }

    .circle-7 {
      top: 30%;
      right: 2%;

      @include tablet {
        display: none;
      }
    }

    .circle-8 {
      top: 52%;
      right: 19%;
    }

    .circle-9 {
      top: 55%;
      right: 33%;

      @include mobile-xs {
        display: none;
      }
    }

    .circle-10 {
      bottom: 20%;
      right: 5%;

      @include mobile-xs {
        display: none;
      }
    }
  }
}


// page header
.page-header {
  position: relative;

  .block {
    padding: 7.5rem 0;
    position: relative;
    z-index: 3;
  }

  .has-circle {
    position: absolute;
    top: 0;
    left: .9rem;
    height: 100%;
    width: calc(100% - 1.875rem);
    border-radius: 1.875rem;
    background-color: rgba($primary-color, .05);
    z-index: 1;

    .wave-1,
    .wave-2 {
      position: absolute;
      content: "";
      height: 100%;
      left: 0;
      top: 0;
      z-index: -1;
    }

    .circle-1 {
      top: 4.3rem;
      left: 15%;

      @include desktop {
        left: 10%;
      }
    }

    .circle-2 {
      top: 50%;
      left: 3%;

      @include desktop {
        display: none;
      }
    }

    .circle-3 {
      bottom: 26%;
      left: 38%;

      @include mobile {
        display: none;
      }
    }

    .circle-4 {
      bottom: 19%;
      left: 20%;

      @include desktop {
        left: 14%;
      }
    }

    .circle-5 {
      top: 11%;
      left: 30%;

      @include mobile {
        display: none;
      }
    }

    .circle-6 {
      top: 6.25rem;
      right: 12%;
    }

    .circle-7 {
      top: 58%;
      right: 4%;

      @include tablet {
        display: none;
      }
    }

    .circle-8 {
      bottom: 10%;
      right: 33%;

      @include tablet {
        bottom: 14%;
        right: 15%;
      }
    }

    .circle-9 {
      top: 48%;
      right: 38%;
    }

    .circle-10 {
      bottom: 31%;
      right: 20%;

      @include desktop {
        display: none;
      }
    }

    .circle-11 {
      top: 15%;
      right: 27%;
    }
  }
}


// about
.about-image {
  position: relative;

  .block {
    position: relative;
    z-index: 1;
    padding: 3.75rem;

    @include mobile-xs {
      padding: 0;
    }

    img {
      border-radius: 1.125rem;
    }

    .has-circle {
      z-index: 3;
      pointer-events: none;
    }
  }

  .has-circle {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;

    @include mobile-xs {
      display: none;
    }

    .circle-1 {
      top: 1.875rem;
      left: 1.75rem;

      @include desktop {
        transform: scale(0.7);
      }
    }

    .circle-2 {
      top: 5rem;
      right: 41px;
    }

    .circle-3 {
      bottom: 45%;
      right: 3.125rem;
      transform: scale(1.2);
    }

    .circle-4 {
      bottom: 50%;
      left: 3.125rem;
      opacity: 1;
    }

    .circle-5 {
      bottom: 4.93rem;
      left: 2.1rem;
      opacity: 1;
      background: #FFE6DB;
    }

    .circle-6 {
      bottom: 1.5rem;
      right: 1.5rem;

      @include desktop {
        transform: scale(0.7);
      }
    }
  }
}


// team
.team-image {
  padding: 2.1rem;
  position: relative;
  z-index: 1;

  &::before {
    position: absolute;
    content: "";
    height: calc(100% - 4.3rem);
    width: calc(100% - 4.3rem);
    top: 2.8rem;
    left: 2.8rem;
    background: #fe6019;
    z-index: -1;
    border-radius: 50%;
    opacity: .15;
  }

  @include mobile {
    padding: 0.625rem;
    margin-bottom: .9rem;

    &::before {
      height: calc(100% - 1.25rem);
      width: calc(100% - 1.25rem);
      top: .9rem;
      left: .9rem;
    }
  }
}

@include mobile {
  .team-item {
    h3 {
      font-size: 1.06rem;
    }

    p {
      font-size: 0.875rem;
    }
  }
}


// office-loc
.office-loc-item {
  box-shadow: 0px 0.25rem 1.5rem 0px rgba($black, 0.05);
  padding: 1.25rem;
  border-radius: 13px;
  margin-top: 1.875rem;
  height: calc(100% - 1.875rem);

  p {
    margin: 0;
  }
}


// brand-carousel
.brand-carousel {
  border: 1px solid #E9E9E9;
  border-left: 0;
  border-right: 0;
  padding: 1.25rem 0;
  margin-top: 3.125rem;

  .brand-item {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 5rem;
    height: 8rem;
    transition: .3s ease;
    filter: grayscale(1);
    margin: 0 1.25rem;
    opacity: .5;

    &:hover {
      filter: grayscale(0);
      opacity: 1;
    }

    img {
      max-width: 75%;
    }
  }
}


// features
.features {
  .features-carousel {
    padding-bottom: 2.5rem;
  }

  .features-card {
    text-align: center;
    padding: 4.3rem 1.875rem;
    border: 1px solid transparent;
    box-shadow: 0px 0.25rem 1.5rem 0px rgba($black, 0.05);
    margin: 1.25rem .9rem;
    border-radius: 0.375rem;
    transition: .3s ease;

    @include tablet {
      padding: 2.5rem 1.5rem;
    }

    @include mobile {
      padding: 2.5rem .9rem;
    }

    .icon {
      height: 5rem;
      width: 5rem;
      line-height: 5rem;
      margin: auto;
      border-radius: .9rem;
      font-size: 33px;
      transition: .15s;
      position: relative;
      z-index: 1;
      overflow: hidden;
      font-size: 2.3rem;
      border: 1px solid rgba($primary-color, .1);

      &::after {
        position: absolute;
        content: "";
        height: 0;
        width: 100%;
        top: 0;
        left: 0;
        z-index: -1;
        border-radius: .9rem;
        background-color: rgba($primary-color, .07);
        transition: .35s ease;
      }
    }

    &:hover {
      box-shadow: none;
      border-color: rgba($primary-color, .1);
      transform: translateY(-2px);

      .icon {
        transition: .25s ease;

        &::after {
          height: 100%;
          top: auto;
          bottom: 0;
        }
      }
    }

    .title {
      margin-top: 1.5rem;
      margin-bottom: 1.25rem;
    }
  }
}


// video-popup
.video-popup {
  &.has-bg-color {
    background-color: $white;

    .block {
      padding: 5rem 0;
      position: relative;
      z-index: 3;
      .section-title {
        padding: 0 .9rem;
      }
    }

    .has-circle {
      position: absolute;
      top: 0;
      left: .9rem;
      height: 100%;
      width: calc(100% - 1.875rem);
      z-index: 1;

      .circle-1 {
        top: 3.125rem;
        left: 11%;
      }

      .circle-2 {
        top: 29%;
        left: 3%;

        @include desktop {
          display: none;
        }
      }

      .circle-3 {
        top: 45%;
        left: 22%;

        @include mobile {
          display: none;
        }
      }

      .circle-4 {
        bottom: 35%;
        left: 15%;

        @include desktop {
          left: 5%;
        }
      }

      .circle-5 {
        bottom: 8%;
        left: 6%;

        @include mobile-xs {
          left: 40%;
        }
      }

      .circle-6 {
        top: 6.25rem;
        right: 12%;
      }

      .circle-7 {
        top: 30%;
        right: 2%;

        @include tablet {
          display: none;
        }
      }

      .circle-8 {
        top: 52%;
        right: 19%;
      }

      .circle-9 {
        top: 55%;
        right: 33%;

        @include mobile-xs {
          display: none;
        }
      }

      .circle-10 {
        bottom: 20%;
        right: 5%;

        @include mobile-xs {
          display: none;
        }
      }
    }
  }

  &.video-popup-two {
    .has-circle {
      .circle-1 {
        top: 19%;
        left: 8%;
      }

      .circle-2 {
        top: 15%;
        left: 29%;
      }

      .circle-3 {
        bottom: 20%;
        left: 35%;
        top: auto;
      }

      .circle-4 {
        left: 3%;
        bottom: 40%;
      }

      .circle-5 {
        bottom: 14%;
        left: 14%;
      }

      .circle-7 {
        top: 2%;
        right: 30%;
      }

      .circle-8 {
        top: 46%;
        left: 48%;
      }
    }
  }
}


// video popup button style
.has-video-popup {
  position: relative;
  text-align: center;
  padding: 0 .9rem;

  .embed-responsive {
    border-radius: 1.25rem;
    overflow: hidden;
  }

  &>img {
    box-shadow: 0 0.375rem 6.8rem rgba($black, 0.15);
    border-radius: 1.25rem;
  }

  .video-play-btn {
    border: 0;
    outline: 0;
    height: 5.6rem;
    width: 5.6rem;
    padding: 2px 0 0 0.25rem;
    position: absolute;
    top: 50%;
    left: 50%;
    color: $white;
    background-color: $primary-color;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s;

    @include tablet {
      height: 3.75rem;
      width: 3.68rem;
    }

    @include mobile-xs {
      height: 2.8rem;
      width: 2.75rem;

      svg {
        height: 1.4em;
        width: 1.4em;
        margin-top: -4px;
      }
    }

    &:hover {
      transform: translate(-50%, -50%) scale(1.1);
    }

    &::after,
    &::before {
      content: "";
      position: absolute;
      border-radius: 50%;
      border: 0.75rem solid rgba($primary-color, .5);
      left: -1.25rem;
      top: -1.25rem;
      right: -1.25rem;
      bottom: -1.25rem;
      opacity: 0;
      backface-visibility: hidden;
      animation: pulse 2s linear infinite;
    }

    &::after {
      animation-delay: .5s;
    }

    i {
      font-size: 2.3rem;

      @include tablet {
        font-size: 1.875rem;
      }

      @include mobile {
        font-size: 1.5rem;
      }
    }
  }

  @keyframes pulse {
    0% {
      opacity: 0;
      transform: scale(.5);
    }

    50% {
      opacity: 1;
    }

    100% {
      opacity: 0;
      transform: scale(1.1);
    }
  }
}


// testimonials
.testimonial-carousel {
  position: relative;
  z-index: 1;

  .testimonial-carousel-bg {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: auto;

    @include mobile {
      width: auto;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      height: 100%;
      object-position: center;
      object-fit: cover;
    }
  }

  .block {
    text-align: center;
    padding: 2.5rem 2.1rem;

    .author {
      top: 0.625rem;
    }

    .quote-icon,
    .quote-text {
      color: $white;
    }

    .quote-icon {
      font-size: 5.6rem;
      margin-bottom: .9rem;
      transition-delay: .1s;
    }

    .quote-text {
      font-size: 1.125rem;
      transition-delay: .2s;
    }

    .author {
      background-color: $white;
      border-radius: 0.875rem;
      padding: 1.875rem 1.875rem 1.5rem;
      display: inline-block;
      margin-top: 1.25rem;
      box-shadow: 0px 0.625rem 3.125rem 0px rgba($black, 0.08);
      transition-delay: .3s;

      img {
        margin-bottom: .9rem;
      }

      h5,
      p {
        margin-bottom: 0
      }

      p {
        font-size: 0.875rem;
        margin-top: 5px
      }
    }
  }
  .swiper-slide {
    transition: 0.3s;
  }
  .swiper-slide-prev,
  .swiper-slide-next {
    transform: scale(0.65) translateY(3.125rem);
  }

  .swiper-pagination-bullet-active {
    @include mobile {
      background-color: $white !important;
    }
  }
}


// call-to-action
.call-to-action {
  &.has-bg-color {
    background-color: $white;

    .block {
      padding: 5rem .9rem;
      position: relative;
      z-index: 3;
    }

    .has-circle {
      position: absolute;
      top: 0;
      left: .9rem;
      height: 100%;
      width: calc(100% - 1.875rem);
      z-index: 1;

      .wave-1 {
        position: absolute;
        content: "";
        height: 100%;
        left: 0;
        top: 0;
        z-index: -1;
      }

      .circle-1 {
        top: 3.125rem;
        left: 11%;
      }

      .circle-2 {
        bottom: 13%;
        left: 3%;

        @include mobile {
          display: none;
        }
      }

      .circle-3 {
        bottom: 30%;
        left: 22%;
      }

      .circle-4 {
        top: 6.25rem;
        right: 12%;
      }

      .circle-5 {
        bottom: 30%;
        right: 4%;
      }

      .circle-6 {
        bottom: 12%;
        right: 19%;
      }
    }
  }
}


// blog style
.blog-card {
  box-shadow: 0px 0.625rem 2.1rem 0px rgba($black, 0.05);
  border-radius: 1.125rem;
  overflow: hidden;
  border: 0;
  margin-top: 1.875rem;
  height: calc(100% - 1.875rem);

  .card-body {
    padding: 2.1rem 1.875rem 0.625rem;
  }

  .card-footer {
    padding: 0 1.875rem 2.1rem;
  }

  .card-title,
  .card-title a {
    color: lighten($black, 13.33);
    line-height: 34px;
    display: block;
    transition: .2s;
    text-decoration: underline;
    text-decoration-color: transparent;
    -webkit-text-decoration-color: transparent;
    -moz-text-decoration-color: transparent;
  }

  .card-title a:hover {
    color: lighten($black, 20.00);
    text-decoration-color: lighten($black, 26.67);
    -webkit-text-decoration-color: lighten($black, 26.67);
    -moz-text-decoration-color: lighten($black, 26.67);
  }
}

.card-author {
  .user-info p {
    line-height: 1.3;
  }

  .user-image {
    height: 3.625rem;
    width: 3.625rem;
    padding: 0.25rem;
    position: relative;
    border-radius: 50%;
    z-index: 1;

    &::before {
      position: absolute;
      content: "";
      height: 100%;
      width: 100%;
      border: 2px solid $primary-color;
      border-radius: 50%;
      top: 0;
      left: 0;
      z-index: -1;
    }

    img {
      height: 3.125rem;
      width: 3.125rem;
    }
  }
}


// career
.career {
  .block {
    padding: 5rem .9rem;
    position: relative;
    z-index: 3;
  }

  .career-benefits {
    max-width: 80%;

    @include mobile {
      max-width: 100%;
    }

    .career-benefits-item {
      margin-top: 2.1rem;
    }
  }

  .listing-item {
    padding: 2.1rem .9rem;
    border-radius: 1.125rem;
    box-shadow: 0px 0.625rem 2.1rem 0px rgba($black, 0.05);
  }

  .has-circle {
    position: absolute;
    top: 0;
    left: .9rem;
    height: 100%;
    width: calc(100% - 1.875rem);
    z-index: 1;

    &::after {
      position: absolute;
      content: "";
      height: 100%;
      width: 100%;
      left: 0;
      top: 0;
      z-index: -1;
      background-image: url("data:image/svg+xml,%0A%3Csvg width='1403' height='613' viewBox='0 0 1403 613' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M709.267 3.15312C710.884 2.14345 712.488 1.20368 714.075 0.335938L716.592 4.92235C715.109 5.73313 713.603 6.61558 712.076 7.56884L709.267 3.15312ZM691.371 16.7355C694.263 14.1607 697.145 11.7773 700.001 9.59391L703.264 13.6953C700.531 15.785 697.76 18.0753 694.97 20.5594L691.371 16.7355ZM675.753 32.4691C678.261 29.6391 680.784 26.9451 683.311 24.3924L687.174 27.966C684.724 30.4411 682.273 33.0577 679.833 35.811L675.753 32.4691ZM662.005 49.6142C664.198 46.6 666.419 43.6905 668.662 40.8898L672.926 44.0132C670.739 46.7444 668.571 49.5839 666.43 52.5282L662.005 49.6142ZM649.918 67.8542C651.829 64.687 653.779 61.6048 655.762 58.6107L660.327 61.3211C658.388 64.2492 656.48 67.2648 654.61 70.3649L649.918 67.8542ZM639.408 87.0022C641.049 83.7042 642.738 80.4773 644.468 77.3241L649.274 79.6371C647.579 82.7254 645.924 85.8868 644.316 89.1185L639.408 87.0022ZM630.533 106.733C631.896 103.357 633.313 100.04 634.776 96.7846L639.777 98.706C638.342 101.897 636.954 105.149 635.617 108.459L630.533 106.733ZM623.217 127.087C624.314 123.621 625.468 120.206 626.677 116.845L631.836 118.374C630.651 121.671 629.519 125.02 628.443 128.419L623.217 127.087ZM617.536 147.773C618.357 144.26 619.24 140.791 620.18 137.368L625.464 138.503C624.542 141.861 623.676 145.264 622.871 148.709L617.536 147.773ZM613.472 168.775C614.015 165.243 614.623 161.748 615.291 158.292L620.668 159.029C620.012 162.419 619.416 165.848 618.883 169.313L613.472 168.775ZM611.041 189.977C611.312 186.401 611.65 182.857 612.052 179.348L617.491 179.687C617.096 183.13 616.764 186.607 616.498 190.116L611.041 189.977ZM610.25 211.16C610.247 207.591 610.312 204.05 610.444 200.538L615.912 200.48C615.783 203.927 615.719 207.403 615.722 210.906L610.25 211.16ZM611.071 232.262C610.799 228.729 610.597 225.22 610.461 221.734L615.929 221.286C616.063 224.707 616.261 228.153 616.528 231.622L611.071 232.262ZM613.467 253.192C612.937 249.713 612.476 246.253 612.082 242.814L617.521 241.985C617.908 245.362 618.361 248.761 618.881 252.178L613.467 253.192ZM617.385 273.841C616.605 270.412 615.894 266.999 615.248 263.603L620.632 262.408C621.266 265.746 621.965 269.1 622.731 272.471L617.385 273.841ZM622.751 294.117C621.733 290.747 620.782 287.391 619.897 284.049L625.201 282.507C626.072 285.794 627.007 289.095 628.009 292.409L622.751 294.117ZM629.481 313.939C628.239 310.645 627.063 307.361 625.951 304.088L631.158 302.221C632.251 305.441 633.409 308.674 634.632 311.917L629.481 313.939ZM637.477 333.248C636.029 330.042 634.645 326.844 633.324 323.655L638.416 321.484C639.717 324.625 641.081 327.776 642.507 330.935L637.477 333.248ZM646.64 352.003C645.005 348.895 643.432 345.793 641.92 342.699L646.886 340.25C648.377 343.3 649.928 346.358 651.54 349.423L646.64 352.003ZM656.872 370.179C655.071 367.178 653.329 364.182 651.644 361.192L656.477 358.488C658.138 361.438 659.858 364.394 661.636 367.355L656.872 370.179ZM668.082 387.769C666.134 384.882 664.243 381.999 662.407 379.12L667.1 376.183C668.913 379.026 670.781 381.874 672.705 384.726L668.082 387.769ZM680.188 404.783C678.103 401.999 676.072 399.218 674.094 396.44L678.645 393.293C680.6 396.039 682.608 398.788 684.669 401.54L680.188 404.783ZM693.121 421.238C690.885 418.522 688.701 415.808 686.568 413.096L690.979 409.761C693.088 412.443 695.249 415.129 697.461 417.816L693.121 421.238ZM706.808 437.144C704.425 434.491 702.094 431.839 699.813 429.188L704.084 425.683C706.342 428.307 708.65 430.933 711.009 433.56L706.808 437.144ZM721.009 452.335C718.551 449.806 716.14 447.277 713.776 444.748L717.91 441.09C720.251 443.595 722.639 446.1 725.075 448.606L721.009 452.335ZM735.844 467.037C733.325 464.63 730.851 462.223 728.422 459.816L732.421 456.02C734.829 458.406 737.282 460.792 739.779 463.178L735.844 467.037ZM747.479 477.863C746.152 476.661 744.837 475.458 743.533 474.255L747.403 470.336C748.697 471.529 750.001 472.722 751.317 473.915C752.625 475.1 753.935 476.275 755.247 477.437L751.45 481.423C750.125 480.248 748.801 479.062 747.479 477.863ZM767.438 494.974C764.76 492.807 762.088 490.594 759.423 488.336L763.135 484.276C765.771 486.51 768.413 488.698 771.061 490.842L767.438 494.974ZM784.15 507.863C781.335 505.797 778.526 503.684 775.723 501.522L779.253 497.316C782.024 499.453 784.8 501.541 787.582 503.583L784.15 507.863ZM801.441 519.909C798.493 517.962 795.551 515.966 792.615 513.919L795.947 509.567C798.848 511.59 801.754 513.562 804.666 515.484L801.441 519.909ZM819.326 531.072C816.313 529.298 813.305 527.474 810.303 525.6L813.418 521.105C816.382 522.955 819.352 524.756 822.327 526.507L819.326 531.072ZM837.836 541.317C834.741 539.711 831.651 538.055 828.566 536.347L831.446 531.714C834.491 533.399 837.54 535.034 840.594 536.618L837.836 541.317ZM857.015 550.612C853.805 549.165 850.6 547.666 847.398 546.115L850.028 541.352C853.186 542.882 856.348 544.36 859.513 545.788L857.015 550.612ZM876.713 558.837C873.4 557.562 870.09 556.235 866.783 554.854L869.146 549.971C872.407 551.332 875.671 552.641 878.937 553.898L876.713 558.837ZM896.893 565.951C893.489 564.86 890.087 563.715 886.688 562.515L888.771 557.525C892.122 558.707 895.476 559.835 898.831 560.912L896.893 565.951ZM1396.51 425.241C1395.2 426.439 1393.87 427.643 1392.51 428.853L1388.91 425.034C1390.25 423.838 1391.56 422.649 1392.86 421.465L1396.51 425.241ZM917.506 571.919C914.039 571.022 910.573 570.072 907.109 569.069L908.9 563.984C912.315 564.973 915.731 565.909 919.148 566.793L917.506 571.919ZM1384.17 436.139C1381.45 438.467 1378.66 440.811 1375.79 443.169L1372.36 439.196C1375.2 436.862 1377.97 434.542 1380.66 432.239L1384.17 436.139ZM1367.24 450.064C1364.38 452.322 1361.47 454.589 1358.49 456.86L1355.23 452.754C1358.18 450.504 1361.07 448.259 1363.9 446.022L1367.24 450.064ZM938.493 576.714C934.979 576.015 931.464 575.265 927.948 574.462L929.44 569.3C932.904 570.091 936.369 570.831 939.833 571.519L938.493 576.714ZM1349.73 463.414C1346.81 465.565 1343.83 467.718 1340.8 469.87L1337.7 465.647C1340.71 463.514 1343.66 461.38 1346.56 459.248L1349.73 463.414ZM959.788 580.321C956.233 579.822 952.676 579.271 949.118 578.668L950.305 573.446C953.812 574.04 957.318 574.582 960.822 575.075L959.788 580.321ZM1331.76 476.18C1328.77 478.229 1325.73 480.274 1322.66 482.313L1319.72 477.981C1322.77 475.96 1325.78 473.933 1328.74 471.902L1331.76 476.18ZM981.318 582.74C977.732 582.437 974.143 582.085 970.552 581.682L971.433 576.416C974.974 576.813 978.512 577.161 982.047 577.46L981.318 582.74ZM1313.37 488.355C1310.32 490.304 1307.23 492.245 1304.1 494.176L1301.32 489.744C1304.42 487.83 1307.48 485.905 1310.51 483.972L1313.37 488.355ZM1003.01 583.982C999.406 583.872 995.794 583.715 992.178 583.509L992.756 578.217C996.322 578.421 999.883 578.576 1003.44 578.684L1003.01 583.982ZM1294.65 499.905C1291.52 501.765 1288.36 503.613 1285.16 505.447L1282.54 500.919C1285.71 499.101 1288.84 497.268 1291.94 495.424L1294.65 499.905ZM1024.81 584.068C1021.19 584.148 1017.56 584.182 1013.93 584.168L1014.21 578.867C1017.79 578.881 1021.37 578.848 1024.94 578.769L1024.81 584.068ZM1275.55 510.861C1272.36 512.626 1269.13 514.375 1265.87 516.107L1263.42 511.488C1266.65 509.771 1269.84 508.037 1273.01 506.287L1275.55 510.861ZM1256.1 521.202C1252.85 522.865 1249.56 524.51 1246.25 526.134L1243.96 521.428C1247.25 519.818 1250.5 518.188 1253.73 516.538L1256.1 521.202ZM1046.63 583.033C1043.01 583.296 1039.37 583.515 1035.74 583.688L1035.72 578.394C1039.32 578.223 1042.9 578.007 1046.48 577.747L1046.63 583.033ZM1236.32 530.901C1233.01 532.457 1229.67 533.992 1226.3 535.503L1224.2 530.713C1227.53 529.215 1230.84 527.694 1234.12 526.152L1236.32 530.901ZM1068.41 580.916C1064.8 581.355 1061.17 581.752 1057.54 582.106L1057.25 576.832C1060.83 576.483 1064.41 576.091 1067.98 575.657L1068.41 580.916ZM1216.22 539.928C1212.86 541.371 1209.47 542.789 1206.05 544.182L1204.13 539.311C1207.52 537.932 1210.87 536.527 1214.21 535.097L1216.22 539.928ZM1090.1 577.766C1086.51 578.373 1082.9 578.94 1079.28 579.466L1078.71 574.225C1082.29 573.706 1085.86 573.145 1089.41 572.545L1090.1 577.766ZM1195.83 548.248C1192.41 549.571 1188.97 550.867 1185.52 552.134L1183.79 547.187C1187.22 545.933 1190.62 544.649 1194.01 543.339L1195.83 548.248ZM1111.66 573.63C1108.09 574.397 1104.5 575.127 1100.9 575.818L1100.08 570.62C1103.64 569.937 1107.19 569.216 1110.72 568.458L1111.66 573.63ZM1175.15 555.823C1171.69 557.019 1168.21 558.185 1164.71 559.319L1163.19 554.301C1166.66 553.178 1170.1 552.024 1173.53 550.84L1175.15 555.823ZM1133.04 568.562C1129.5 569.48 1125.94 570.363 1122.37 571.21L1121.31 566.064C1124.84 565.227 1128.36 564.354 1131.86 563.445L1133.04 568.562ZM1154.21 562.61C1150.71 563.671 1147.19 564.699 1143.65 565.694L1142.36 560.609C1145.86 559.625 1149.34 558.607 1152.81 557.557L1154.21 562.61Z' fill='%23FFE4D1' fill-opacity='0.8'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M533.18 610.459C531.926 611.242 530.681 611.971 529.45 612.645L527.498 609.087C528.648 608.458 529.816 607.773 531.001 607.034L533.18 610.459ZM547.064 599.922C544.821 601.92 542.585 603.769 540.369 605.463L537.837 602.281C539.958 600.66 542.108 598.883 544.272 596.956L547.064 599.922ZM559.182 587.717C557.236 589.912 555.278 592.002 553.318 593.982L550.32 591.21C552.221 589.29 554.123 587.26 556.016 585.124L559.182 587.717ZM569.847 574.416C568.146 576.755 566.423 579.012 564.683 581.185L561.374 578.761C563.071 576.643 564.753 574.44 566.415 572.156L569.847 574.416ZM579.224 560.267C577.742 562.724 576.229 565.115 574.691 567.437L571.149 565.335C572.653 563.063 574.134 560.724 575.584 558.319L579.224 560.267ZM587.379 545.412C586.106 547.971 584.795 550.474 583.453 552.92L579.725 551.126C581.039 548.73 582.323 546.278 583.571 543.771L587.379 545.412ZM594.264 530.106C593.206 532.725 592.108 535.298 590.972 537.824L587.092 536.333C588.205 533.858 589.282 531.335 590.319 528.767L594.264 530.106ZM599.94 514.316C599.089 517.005 598.193 519.654 597.256 522.262L593.253 521.075C594.172 518.518 595.051 515.92 595.885 513.283L599.94 514.316ZM604.347 498.269C603.71 500.994 603.025 503.685 602.296 506.341L598.196 505.46C598.912 502.855 599.584 500.216 600.209 497.542L604.347 498.269ZM607.501 481.976C607.079 484.716 606.608 487.427 606.089 490.109L601.918 489.537C602.426 486.907 602.889 484.247 603.302 481.559L607.501 481.976ZM609.386 465.529C609.176 468.303 608.914 471.052 608.602 473.775L604.382 473.512C604.689 470.84 604.946 468.143 605.152 465.421L609.386 465.529ZM610 449.096C610.002 451.864 609.952 454.611 609.85 457.336L605.607 457.381C605.707 454.707 605.757 452.01 605.755 449.293L610 449.096ZM609.363 432.726C609.574 435.466 609.731 438.189 609.836 440.893L605.594 441.241C605.49 438.586 605.336 435.913 605.129 433.222L609.363 432.726ZM607.504 416.489C607.915 419.188 608.273 421.872 608.579 424.54L604.359 425.183C604.059 422.563 603.707 419.927 603.304 417.275L607.504 416.489ZM604.465 400.47C605.07 403.13 605.622 405.778 606.122 408.412L601.946 409.339C601.454 406.75 600.911 404.148 600.317 401.533L604.465 400.47ZM600.301 384.741C601.091 387.355 601.829 389.959 602.516 392.552L598.4 393.748C597.725 391.198 596.999 388.637 596.222 386.066L600.301 384.741ZM595.08 369.364C596.044 371.92 596.956 374.467 597.818 377.006L593.779 378.455C592.931 375.956 592.033 373.449 591.084 370.933L595.08 369.364ZM588.877 354.385C590 356.872 591.074 359.353 592.099 361.827L588.148 363.511C587.139 361.074 586.081 358.63 584.974 356.179L588.877 354.385ZM581.768 339.836C583.036 342.247 584.256 344.653 585.43 347.053L581.577 348.953C580.42 346.587 579.217 344.215 577.966 341.837L581.768 339.836ZM573.829 325.736C575.227 328.063 576.579 330.387 577.885 332.707L574.136 334.805C572.847 332.517 571.513 330.223 570.134 327.926L573.829 325.736ZM565.133 312.09C566.644 314.329 568.111 316.566 569.535 318.799L565.894 321.077C564.488 318.872 563.039 316.663 561.546 314.451L565.133 312.09ZM555.741 298.891C557.358 301.051 558.934 303.208 560.469 305.363L556.937 307.804C555.421 305.674 553.863 303.542 552.264 301.407L555.741 298.891ZM545.707 286.126C547.442 288.233 549.136 290.338 550.79 292.442L547.369 295.029C545.732 292.948 544.056 290.865 542.339 288.781L545.707 286.126ZM535.088 273.786C536.937 275.845 538.745 277.902 540.515 279.959L537.202 282.678C535.45 280.642 533.659 278.605 531.829 276.567L535.088 273.786ZM524.07 262.002C525.978 263.964 527.848 265.926 529.682 267.887L526.475 270.725C524.659 268.782 522.806 266.839 520.916 264.895L524.07 262.002ZM512.562 250.597C514.515 252.464 516.435 254.331 518.32 256.198L515.217 259.143C513.349 257.292 511.446 255.442 509.509 253.591L512.562 250.597ZM503.535 242.198C504.564 243.131 505.584 244.064 506.596 244.997L503.593 248.038C502.59 247.112 501.578 246.187 500.557 245.262C499.542 244.342 498.526 243.431 497.508 242.529L500.454 239.437C501.482 240.348 502.509 241.269 503.535 242.198ZM488.05 228.924C490.128 230.606 492.2 232.322 494.268 234.074L491.388 237.224C489.343 235.491 487.293 233.793 485.239 232.13L488.05 228.924ZM475.085 218.926C477.269 220.528 479.448 222.168 481.622 223.845L478.883 227.108C476.734 225.45 474.58 223.83 472.421 222.246L475.085 218.926ZM461.669 209.581C463.957 211.091 466.239 212.64 468.517 214.228L465.932 217.604C463.681 216.035 461.427 214.505 459.167 213.013L461.669 209.581ZM447.794 200.921C450.131 202.298 452.465 203.712 454.794 205.166L452.378 208.654C450.078 207.218 447.774 205.821 445.466 204.463L447.794 200.921ZM433.434 192.973C435.835 194.219 438.232 195.504 440.625 196.829L438.391 200.423C436.029 199.116 433.663 197.848 431.294 196.618L433.434 192.973ZM418.554 185.763C421.044 186.885 423.531 188.048 426.015 189.251L423.975 192.946C421.525 191.759 419.072 190.613 416.616 189.505L418.554 185.763ZM403.272 179.382C405.842 180.371 408.411 181.401 410.976 182.472L409.142 186.26C406.613 185.204 404.081 184.188 401.547 183.213L403.272 179.382ZM387.616 173.863C390.257 174.71 392.896 175.598 395.533 176.529L393.917 180.4C391.317 179.483 388.715 178.608 386.113 177.773L387.616 173.863ZM3.36129e-05 283.021C1.01761 282.092 2.05216 281.157 3.10343 280.219L5.90055 283.181C4.86154 284.109 3.83927 285.032 2.83414 285.95L3.36129e-05 283.021ZM371.624 169.234C374.313 169.93 377.002 170.666 379.69 171.445L378.3 175.389C375.651 174.622 373.001 173.896 370.35 173.21L371.624 169.234ZM9.57273 274.566C11.6836 272.76 13.8526 270.942 16.0778 269.113L18.7347 272.195C16.532 274.006 14.3857 275.805 12.2975 277.592L9.57273 274.566ZM22.7116 263.764C24.9259 262.012 27.1897 260.254 29.5013 258.492L32.0284 261.677C29.7382 263.423 27.4959 265.164 25.3028 266.899L22.7116 263.764ZM355.341 165.514C358.068 166.056 360.795 166.638 363.522 167.261L362.365 171.266C359.677 170.651 356.989 170.078 354.302 169.544L355.341 165.514ZM36.2912 253.407C38.5601 251.739 40.8705 250.068 43.2212 248.399L45.6245 251.676C43.2945 253.33 41.0047 254.985 38.7562 256.639L36.2912 253.407ZM338.821 162.715C341.578 163.103 344.338 163.53 347.098 163.998L346.178 168.049C343.457 167.589 340.737 167.168 338.018 166.785L338.821 162.715ZM50.238 243.504C52.5565 241.915 54.9106 240.328 57.2993 238.747L59.5807 242.107C57.2124 243.675 54.8784 245.247 52.58 246.823L50.238 243.504ZM322.117 160.839C324.899 161.074 327.683 161.347 330.47 161.66L329.786 165.745C327.039 165.437 324.294 165.167 321.551 164.935L322.117 160.839ZM64.5056 234.059C66.8718 232.547 69.2693 231.041 71.6969 229.544L73.8556 232.982C71.4486 234.467 69.0716 235.96 66.7254 237.459L64.5056 234.059ZM305.286 159.876C308.084 159.961 310.886 160.083 313.691 160.243L313.243 164.348C310.477 164.19 307.714 164.069 304.954 163.986L305.286 159.876ZM79.0303 225.1C81.4552 223.657 83.9078 222.223 86.3875 220.8L88.4217 224.313C85.9631 225.723 83.5312 227.145 81.127 228.575L79.0303 225.1ZM288.374 159.809C291.184 159.747 293.998 159.721 296.817 159.732L296.6 163.844C293.819 163.833 291.043 163.858 288.271 163.92L288.374 159.809ZM93.8459 216.6C96.3235 215.231 98.826 213.874 101.353 212.531L103.259 216.114C100.754 217.446 98.2728 218.791 95.8165 220.148L93.8459 216.6ZM108.934 208.578C111.46 207.288 114.008 206.012 116.578 204.752L118.351 208.403C115.804 209.652 113.278 210.916 110.775 212.196L108.934 208.578ZM271.447 160.612C274.258 160.408 277.075 160.238 279.899 160.104L279.907 164.211C277.121 164.344 274.34 164.511 271.565 164.713L271.447 160.612ZM124.281 201.054C126.851 199.847 129.442 198.656 132.052 197.484L133.686 201.2C131.1 202.362 128.533 203.541 125.986 204.738L124.281 201.054ZM254.548 162.254C257.353 161.913 260.165 161.605 262.985 161.331L263.211 165.422C260.427 165.693 257.65 165.997 254.88 166.334L254.548 162.254ZM139.873 194.051C142.484 192.932 145.114 191.831 147.762 190.751L149.251 194.53C146.628 195.6 144.023 196.69 141.435 197.799L139.873 194.051ZM237.719 164.698C240.51 164.227 243.311 163.787 246.119 163.379L246.555 167.445C243.78 167.848 241.013 168.283 238.255 168.748L237.719 164.698ZM155.696 187.596C158.346 186.57 161.013 185.565 163.695 184.582L165.031 188.42C162.375 189.393 159.734 190.388 157.109 191.405L155.696 187.596ZM220.995 167.906C223.767 167.311 226.549 166.745 229.341 166.209L229.976 170.242C227.216 170.771 224.466 171.331 221.726 171.919L220.995 167.906ZM171.737 181.72C174.423 180.793 177.123 179.888 179.838 179.008L181.013 182.901C178.326 183.773 175.652 184.668 172.994 185.586L171.737 181.72ZM204.407 171.838C207.154 171.126 209.913 170.441 212.683 169.784L213.508 173.775C210.768 174.425 208.04 175.103 205.322 175.807L204.407 171.838ZM187.98 176.456C190.698 175.632 193.43 174.835 196.174 174.063L197.179 178.008C194.464 178.771 191.761 179.561 189.071 180.375L187.98 176.456Z' fill='%23FFE4D1' fill-opacity='0.8'/%3E%3Cpath d='M21 610.545C36.5914 523.714 139.433 355.624 426.067 377.903C784.361 405.752 909.773 290.41 948.848 198.03C987.923 105.65 1124.04 5.84379 1402 31.3789' stroke='%23FFE4D1' stroke-opacity='0.8' stroke-width='4' stroke-dasharray='10 10'/%3E%3C/svg%3E%0A");
      background-position: center left;
      background-size: cover;
      background-repeat: no-repeat;
    }

    .circle-1 {
      top: 3.125rem;
      left: 11%;
    }

    .circle-2 {
      bottom: 13%;
      left: 3%;

      @include mobile {
        display: none;
      }
    }

    .circle-3 {
      bottom: 30%;
      left: 22%;
    }

    .circle-4 {
      top: 6.25rem;
      right: 12%;
    }

    .circle-5 {
      bottom: 30%;
      right: 4%;
    }

    .circle-6 {
      bottom: 12%;
      right: 19%;
    }

    .circle-7 {
      top: 30%;
      right: 2%;
    }

    .circle-8 {
      top: 24%;
      left: 27%;
    }
  }
}

// pricing
.pricing-switch {
  label {
    cursor: text;
    user-select: none;
    padding: 0 .9rem;
  }

  .toggle {
    height: 34px;
    cursor: pointer;
    z-index: 1;
    position: relative;

    .switch {
      display: inline-block;
      height: 100%;
      width: 4.3rem;
      border: 1px solid $primary-color;
      border-radius: .9rem;
      position: relative;

      &::after {
        position: absolute;
        content: "";
        height: 1.5rem;
        width: 1.5rem;
        border-radius: 0.75rem;
        background-color: $primary-color;
        left: 5px;
        top: 0.25rem;
        z-index: 2;
        transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
      }
    }

    .pricing-check:checked~.switch::after {
      left: 57.5%;
    }

    .pricing-check:active~.switch::after {
      transform: scale(0.8);
    }

    .pricing-check {
      position: absolute;
      height: 100%;
      width: 100%;
      z-index: 3;
      opacity: 0;
      cursor: pointer;
    }
  }
}

.pricing-card {
  box-shadow: 0px 0.625rem 2.1rem 0px rgba($black, 0.05);
  border-radius: 1.125rem;
  .card-body {
    padding: 2.1rem;
  }
}


// case-studies
.case-studies-item {
  box-shadow: 0px 0.25rem 1.5rem 0px rgba($black, 0.05);
  padding: 1.5rem;
  border-radius: 1.125rem;
  margin-top: 1.875rem;
  height: calc(100% - 1.875rem);

  p {
    margin: 0;
  }
}


// user-access login/signup
.user-access {
  position: relative;
  z-index: 1;

  &::before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 46%;
    min-height: 100vh;
    height: 100%;
    background-color: rgba($primary-color, .1);

    @include desktop {
      width: 100%;
      min-height: auto;
      height: 25rem;
      border-bottom-left-radius: 500px;
      border-bottom-right-radius: 500px;
    }
  }

  &-form {
    @include desktop {
      margin-top: 6.25rem;
    }
  }
}


// contact
.contact-form {
  padding: 2.1rem;
  padding-bottom: 2.8rem;
  border-radius: 1.125rem;
  box-shadow: 0px 0.25rem 1.5rem 0px rgba($black, 0.05);

  @include mobile {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
}

.contact-widget {
  margin-top: 1.875rem;
  .block {
    padding: 2.8rem 1.5rem;
    border-radius: 0.75rem;
    box-shadow: 0px 0.25rem 1.5rem 0px rgba($black, 0.05);

    @include mobile {
      padding-left: 1.25rem;
      padding-right: 1.25rem;
    }

    ul li {
      &:not(:last-child) {
        margin-bottom: 0.625rem;
      }

      a {
        display: inline-block;
        background-color: rgba($primary-color, 0.03);
        border-radius: 5px;
        color: $primary-color;
        padding: 7px 1.125rem;
        border-radius: 0.5rem;
        font-weight: 500;
        border: 1px solid transparent;

        &:hover {
          color: rgba($primary-color, .8);
          border-color: rgba($primary-color, .5);
        }

        i {
          margin-right: 5px;
        }
      }
    }
  }
}


// footer style
footer.footer {
  margin-top: 6.25rem;
}
.footer-widget {
  .footer-links {
    li:not(:last-child) {
      margin-bottom: .9rem;
    }

    a:hover {
      color: $primary-color;
      text-decoration: underline;
    }
  }
}

// changelog-content
.changelog-content {
  h2,h3,h4,h5 {
    font-weight: 600;
    margin-bottom: 1.25rem;
    &::before {
      font-family: $font-icon;
      font-weight: 900;
      content: "\f0a4";
      margin-right: 0.375rem;
      font-size: 1.5rem;
      position: relative;
      top: 2px;
    }
  }
}

// contact page
.form-status {
  color: $primary-color;
  font-weight: 500;
}