{{ define "main" }}

<section class="section-sm">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 mb-5 mb-lg-0">
				<div class="pr-0 pr-lg-4 sticky-top" style="top:110px">
					<figure>
						{{ if and (.Params.image) (fileExists (add `assets/` .Params.image)) }}
						{{ $img:= resources.Get (.Params.image) }}
						{{ $img:= $img.Resize "100x" }}
						{{ $imgWebp:= $img.Resize "100x webp" }}
						<img loading="lazy" decoding="async" class="rounded-circle border-primary mx-auto"  style="border:3px solid" width="100" src="{{ $imgWebp.RelPermalink }}" alt="author image" onerror="this.onerror=null;this.src='{{$img.RelPermalink}}'">
						{{ else if .Params.Email }}
						<img loading="lazy" decoding="async" class="rounded-circle border-primary mx-auto"  style="border:3px solid" width="100" src="https://www.gravatar.com/avatar/{{ md5 .Params.Email }}?s=150&pg&d=identicon">
						{{ end }}
						<figcaption class="mt-4">
							<h2 class="h3">{{ .Title }}</h2>
						</figcaption>
					</figure>
					<div class="content">
						{{ .Content }}
					</div>
					<ul class="social-links list-inline mb-0">
						{{ range .Params.Social }}
						<li class="list-inline-item"><a href="{{.link | safeURL}}" title="{{.name}}"><i class="{{.icon}}"></i></a></li>
						{{ end }}
					</ul>
				</div>
			</div>
			<div class="col-lg-8">
				<div class="row">
					<div class="col-12">
						<h2 class="h3">{{i18n `recent_posts`}} <span class="text-primary">{{ .Title }}</span></h2>
					</div>
					{{ range where site.RegularPages ".Params.author" (.Title | urlize | lower) }}
					<div class="col-md-6">
						<article class="card blog-card">
							<a href="{{ .RelPermalink }}" title="{{ .Title }}">
								{{ with .Params.image }}
								{{ if fileExists (add `assets/` .) }}
								{{$img:= resources.Get . }}
								{{$img:= $img.Fill "570x280 "}}
								{{$imgWebp:= $img.Fill "570x280 webp"}}
								<img loading="lazy" decoding="async" class="card-img-top h-auto" width="{{$img.Width}}" height="{{$img.Height}}"
									src="{{$imgWebp.RelPermalink}}" alt="blog-post" onerror="this.onerror=null;this.src='{{$img.RelPermalink}}'">
								{{else}}
								<div class="image-fallback">
									<img src="" alt="">
								</div>
								{{end}}
								{{end}}
							</a>
							<div class="card-body p-4">
								<h3 class="card-title h4"><a href="{{ .RelPermalink }}" title="{{ .Title }}" style="line-height: 1.5">{{ .Title }}</a></h3>
								<p class="mb-0">{{ .Plain | truncate 75 }}</p>
							</div>
							<div class="card-footer bg-transparent border-top-0 px-4">
								<span>{{.PublishDate.Format "2 January 2006"}} - {{.ReadingTime}} {{i18n `min_read`}}</span>
							</div>
						</article>
					</div>
					{{ end }}
				</div>
			</div>
		</div>
	</div>
</section>
{{ end }}