body {
  color: lighten($black, 53.33);
  background-color: $white;
  font-family: $font-primary;
  font-weight: 400;
  font-size: .9rem;
  line-height: 1.7;
}

::selection {
  color: $white;
  background-color: darken($primary-color, 5);
  text-shadow: none;
}

:focus {
  outline: 0;
}

/*------------------------------------------------------------------
 # default styles
-------------------------------------------------------------------*/
@media (min-width: 992px) {
  .container {
    max-width: 1060px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1260px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1380px;
  }
}

.container-xxl {
  max-width: 1440px;
  width: 100%;
  padding-right: .9rem;
  padding-left: .9rem;
  margin-right: auto;
  margin-left: auto;

  @include desktop-xl {
    max-width: 1260px;
  }
}

.section {
  padding: 6.25rem 0;

  &-sm {
    padding: 4.3rem 0;
  }
}

.section-title {
  margin-bottom: 3.12rem;

  .title {
    // text-transform: capitalize;
    margin-bottom: 2.5rem;
    position: relative;
    line-height: 1.3;

    &::after {
      position: absolute;
      content: "";
      height: 5px;
      width: 4.3rem;
      border-radius: 1.8rem;
      left: 0;
      bottom: -1.25rem;
      background-color: $primary-color;
    }

    &.underline-none {
      margin-bottom: 1.25rem;

      &::after {
        display: none;
      }
    }

    @include tablet {
      font-size: 2rem;
    }
  }

  &.text-center .title::after {
    left: 50%;
    transform: translateX(-50%);
  }
}


// swiper
.swiper-wrapper {
  cursor: grab;
  transition-timing-function: cubic-bezier(.165, .84, .44, 1) !important;
}

.swiper-pagination-bullet {
  height: .9rem;
  width: .9rem;
}

.swiper-pagination-bullet-active {
  background: $primary-color !important;
}


// aos background animation
.has-bg-anim {
  &::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: -2;
    background-color: rgba($primary-color, .1);
    transform: scale(0);
    border-radius: 1.8rem;
    transition: 1.5s cubic-bezier(.105, .84, .44, 1);
  }

  &.aos-animate::before {
    transform: scale(1);
    background-color: rgba($primary-color, .05);
  }
}


// social-links
.social-links {
  a {
    font-size: 1.125rem;
    color: rgba($black, .8);
    border: 1px solid #eee;
    display: inline-block;
    height: 2.8rem;
    width: 2.8rem;
    text-align: center;
    line-height: 2.8rem;
    border-radius: 2.1rem;

    &:hover {
      color: $primary-color;
      border-color: $primary-color;
    }
  }
}


// has-circle
.has-circle {
  position: relative;

  span {
    position: absolute;
    background-color: rgba($primary-color, .15);
    border-radius: 50%;

    &.fill {
      background-color: $primary-color;
      opacity: .9
    }

    &.ratio-20 {
      height: 1.25rem;
      width: 1.25rem
    }

    &.ratio-32 {
      height: 2rem;
      width: 2rem
    }

    &.ratio-37 {
      height: 2.31rem;
      width: 2.31rem
    }

    &.ratio-47 {
      height: 2.9rem;
      width: 2.9rem
    }

    &.ratio-62 {
      height: 3.8rem;
      width: 3.8rem
    }

    &.ratio-65 {
      height: 4.06rem;
      width: 4.06rem
    }

    &.ratio-73 {
      height: 4.5rem;
      width: 4.5rem
    }

    &.ratio-85 {
      height: 5.3rem;
      width: 5.3rem
    }
  }
}


// preloader
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: $white;
  z-index: 999889898;
  display: flex;
  align-items: center;
  justify-content: center;

  .la-spin {
    animation: la-spin .5s infinite linear;
  }
}

// link-primary
.link-primary {
  color: $primary-color;

  &:hover {
    color: darken($primary-color, 5);
    text-decoration: underline;
  }
}

.badge {
  color: $white !important;
  font-size: 0.75rem;
  font-weight: 600;
  padding: .45em .8em;
  border-radius: 0.25rem;
  position: relative;
  top: 0.625rem;

  &.badge-changed {
    background-color: #3A9CFF
  }

  &.badge-added {
    background-color: #00CE92
  }

  &.badge-removed {
    background-color: #973CFF
  }

  &.badge-security {
    background-color: #9C275F
  }

  &.badge-depreciate {
    background-color: #FF3158
  }
}

// content
.lead {
  font-size: 1.5rem;
  font-weight: inherit;
}

.content {
  font-size: .9rem;

  a {
    color: #888;
    text-decoration: underline;

    &:hover {
      color: $primary-color;
      text-decoration: none;
    }
  }

  p {
    margin-bottom: 1.56rem;
  }

  .btn {
    text-decoration: none;
  }

  iframe {
    border-radius: .5rem;
  }

  blockquote p {
    margin-bottom: 0;
  }

  img {
    max-width: 100%;
    height: auto;
    display: inline-block;
    margin-top: 0.625rem;
    margin-bottom: 2.1rem;
    &.img-center{
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    &.img-left{
      display: block;
      margin-left: 0;
      margin-right: auto;
    }
    &.img-right{
      display: block;
      margin-left: auto;
      margin-right: 0;
    }
    &.img-float-left{
      float: left;
      margin-right: 1.5rem;
    }
    &.img-float-right{
      float: right;
      margin-left: 1.5rem;
    }
  }
  figure{
    display: inline-block;
    margin-bottom: 1.5rem;
    img{
      margin-bottom: .7rem;
    }
    &.img-center{
      display: block;
      text-align: center;
    }
    &.img-left{
      display: block;
      text-align: left;
    }
    &.img-right{
      display: block;
      text-align: right;
    }
    &.img-float-left{
      float: left;
      margin-right: 1.5rem;
    }
    &.img-float-right{
      float: right;
      margin-left: 1.5rem;
    }
  }

  figure {
    margin-bottom: 1.8rem;

    img {
      margin-bottom: 0;
    }

    figcaption {
      text-align: center;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: .9rem;
    font-weight: 600;
  }

  ol,
  ul {
    margin-bottom: 1.56rem;
    padding-left: 5px;

    li {
      margin-bottom: 0.625rem;
    }
  }

  ul {
    list-style: none;

    li {
      position: relative;
      padding-left: 1.25rem;

      &::before {
        position: absolute;
        content: "";
        height: 7px;
        width: 7px;
        background-color: rgba($primary-color, .8);
        top: 0.625rem;
        left: 0;
        border-radius: 50%;
      }
    }
  }

  table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    border: 1px solid $border-color;
  }

  table td,
  table th {
    padding: .75rem;
    vertical-align: top;
    margin-bottom: 0;
  }

  tr:not(:last-child) {
    border-bottom: 1px solid $border-color;
  }

  th {
    font-weight: 500;
  }

  thead {
    background: $light;
    margin-bottom: 0;

    tr {
      border-bottom: 1px solid $border-color;
    }
  }

  tbody {
    background: lighten($color: $light, $amount: 5);
    margin-bottom: 0;
  }

  .notices {
    margin: 2rem 0;
    position: relative;
    overflow: hidden;
    border-radius: .5rem;
  }

  .notices p {
    padding: .7rem;
    margin-bottom: 0;
  }

  .notices p::before {
    position: absolute;
    top: 2px;
    color: $white;
    font-family: $font-icon;
    font-weight: 900;
    content: "\f05a";
    left: .7rem;
  }

  .notices.note p {
    border-top: 1.9rem solid #6ab0de;
    background: #e3f4ff;
  }

  .notices.note p::after {
    content: 'Note';
    position: absolute;
    top: 2px;
    color: $white;
    left: 2rem;
  }


  .notices.tip p {
    border-top: 1.9rem solid #78C578;
    background: #e2ffe2;
  }

  .notices.tip p::after {
    content: 'Tip';
    position: absolute;
    top: 2px;
    color: $white;
    left: 2rem;
  }

  .notices.info p {
    border-top: 1.9rem solid #F0B37E;
    background: #ffedde;
  }

  .notices.info p::after {
    content: 'Info';
    position: absolute;
    top: 2px;
    color: $white;
    left: 2rem;
  }


  .notices.warning p {
    border-top: 1.9rem solid #E06F6C;
    background: #ffdad8;
  }

  .notices.warning p::after {
    content: 'Warning';
    position: absolute;
    top: 2px;
    color: $white;
    left: 2rem;
  }

  .nav.nav-tabs {
    border: 0;
    margin-bottom: 1.25rem;


    .nav-item::before {
      background: no-repeat;
    }

    li {
      padding: 0;
      margin-bottom: 0;

      &:not(:last-child) {
        margin-right: 1rem;
      }

      &.active a {
        background-color: $primary-color;
      }

      a {
        text-transform: capitalize;
        padding: 0.5rem 2rem;
        border: 1px solid $border-color;
        border-radius: 0px;
        text-decoration: none;
        border-radius: .5rem;

        &:hover {
          color: $light;
          border-color: transparent;
          background-color: $primary-color;
        }
      }
    }

    li.active .nav-link,
    li.active .nav-link:hover {
      color: $white;
      border-color: transparent;
    }
  }

  .tab-content {
    background: darken($white, 2);
    padding: 2rem;
    border-radius: .5rem;

    .tab-pane {
      margin-bottom: 0;

      p:not(:last-child) {
        margin-bottom: 1.25rem;
      }
    }

    h2 {
      text-transform: capitalize;
    }

    p strong {
      font-size: 1rem;
      text-transform: capitalize;
      margin-right: 1.5rem;
      font-weight: 400;
      color: $black;
    }
  }

  .accordion {
    margin-bottom: 0;

    &-header {
      margin-bottom: 0px !important;
      padding: 0 1rem;
    }
  }


  .accordion-body {
    padding: .8rem 1rem 0;

    ul {
      margin-bottom: 0;
    }
  }

  .accordion-item {
    padding: 0 0 .5rem;
    margin-bottom: 0;
    background-color: transparent;
  }

  .accordion-button {
    font-size: 1.125rem;
    font-weight: 600;
    color: lighten($black, 4.509);
    text-transform: capitalize;
    padding: 0 2rem;
    border: 0;
    background-color: transparent;
    position: relative;

    &::after {
      background-image: url('data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 16 16%22 fill=%22%23000%22%3E%3Cpath fill-rule=%22evenodd%22 d=%22M1.646 4.646a.5.5.0 01.708.0L8 10.293l5.646-5.647a.5.5.0 01.708.708l-6 6a.5.5.0 01-.708.0l-6-6a.5.5.0 010-.708z%22/%3E%3C/svg%3E');
      position: absolute;
      content: "";
      left: 0;
      top: 0.7rem;
      transform: rotate(-180deg);
      width: 1.25rem;
      height: 1.25rem;
      background-repeat: no-repeat;
      transition: transform .2s ease-in-out;
    }

    &.collapsed::after {
      transform: rotate(-90deg);
    }

    &:not(.collapsed) {
      box-shadow: none;
      background-color: transparent;
    }

    &:focus {
      box-shadow: none;
      color: lighten($black, 4.509);
    }
  }


  blockquote {
    padding: 1.25rem 2.5rem;
    padding-top: 0.625rem;
    color: lighten($black, 20.00);
    font-weight: 500;
    font-size: 1.25rem;
    margin: 2.3rem 0;
    border-radius: .5rem;
    box-shadow: 0px 0.625rem 2.1rem 0px rgba($black, 0.05);
    position: relative;
    border: 1px solid $border-color;

    &::before {
      font-family: $font-icon;
      font-weight: 900;
      content: "\f10d";
      font-size: 3.5rem;
      display: block;
      line-height: 1.2;
      color: #c3c3c3;
    }

    cite {
      border-top: 1px solid #fbf2e5;
      display: block;
      font-size: 1rem;
      opacity: .7;
      margin-top: 1.25rem;
      padding-top: .9rem;
      font-weight: 400;
      font-style: unset;
    }
  }

  pre {
    display: block;
    padding: 0.625rem;
    margin: 0.625rem 0;
    white-space: pre-wrap;
    border-radius: .5rem;
  }

  code {
    margin-bottom: 0 !important;
    font-size: 100%;
  }
}

// pagination
.pagination {
  .page-link {
    padding: 0;
    margin-left: 0;
    border: 0;
    height: 2.87rem;
    width: 2.87rem;
    line-height: 2.87rem;
    text-align: center;
    font-weight: 600;
    border-radius: 0.375rem !important;
    color: $primary-color;
    margin: 0 2px;

    &.arrow {
      font-size: 1.375rem;
      background-color: transparent;
    }

    &.active,
    &:focus,
    &:hover {
      box-shadow: none;
      color: $white;
      background-color: $primary-color;
    }
  }
}


// form-control
.form-control {
  border: 0;
  padding: 1.25rem;
  border: 2px solid rgba($primary-color, 0.1);
  border-left-color: rgba($primary-color, 0.5);
  height: 3.5rem;
  transition: .3s ease;
  background-color: rgba($primary-color, 0.05);

  &:focus {
    box-shadow: none;
    color: lighten($black, 20.00);
    border-bottom-color: rgba($primary-color, 0.5);
    border-color: rgba($primary-color, 0.5);
  }
}

.form-control[type="file"] {
  padding: 11px 0.875rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

form label {
  font-weight: 600;
  color: lighten($black, 33.33);
}

.custom-checkbox {
  margin-top: .9rem;

  .custom-control-label::before {
    border-radius: 0;
  }

  .custom-control-input:checked~.custom-control-label::before,
  .custom-control-input:not(:disabled):active~.custom-control-label::before {
    background-color: $primary-color;
    border-color: $primary-color;
    box-shadow: none;
  }

  .custom-control-input:focus:not(:checked)~.custom-control-label::before {
    box-shadow: none;
    border-color: $primary-color;
  }

  .custom-control-input:disabled:checked~.custom-control-label::before {
    background-color: rgba($primary-color, .5);
    border-color: rgba($primary-color, .2);
  }
}

/*------------------------------------------------------------------
 # helper classes
-------------------------------------------------------------------*/
.font-primary {
  font-family: $font-primary
}

.font-weight-400 {
  font-weight: 400
}

.font-weight-500 {
  font-weight: 500
}

.font-weight-600 {
  font-weight: 600
}

.text-primary {
  color: $primary-color !important
}

a.text-primary:hover {
  color: darken($primary-color, 10) !important
}

.bg-primary {
  background-color: $primary-color !important
}

.bg-light {
  background-color: $light !important
}

.border-primary {
  border-color: $primary-color !important
}
