{{ with site.Params.gtags }}
{{ if .enable }}
<script async src="https://www.googletagmanager.com/gtag/js?id={{.id}}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', '{{.id}}');
</script>
{{ end }}
{{ end }}