<article class="card blog-card">
  <a href="{{ .RelPermalink }}" title="{{ .Title }}">
    {{ with .Params.image }}
    {{ if fileExists (add `assets/` .) }}
    {{$img:= resources.Get . }}
    {{$img:= $img.Resize "570x "}}
    {{$imgWebp:= $img.Resize "570x webp"}}
    <img loading="lazy" decoding="async" class="card-img-top h-auto" width="{{$img.Width}}" height="{{$img.Height}}"
      src="{{$imgWebp.RelPermalink}}" alt="blog-post" onerror="this.onerror=null;this.src='{{$img.RelPermalink}}'">
    {{else}}
    <img class="img-fluid" src="https://via.placeholder.com/570x380.png/eee/eee" alt="image-fallback">
    {{end}}
    {{end}}
  </a>
  <div class="card-body">
    <h3 class="card-title"><a href="{{ .RelPermalink }}" title="{{ .Title }}">{{ .Title }}</a></h3>
    <p>{{ .Plain | truncate 120 }}</p>
  </div>
  {{ $publishDate := .PublishDate.Format "02-01-2006" }}
  {{ with site.GetPage (string .Params.Author | urlize | lower) }}
  <div class="card-footer bg-transparent border-top-0">
    <div class="card-author">
      <div class="d-flex align-items-center">
        <div class="user-image mr-3">
          <a href="{{.RelPermalink}}" title="{{.Title}}">
            {{ if .Params.image }}
            {{ $img:= resources.Get (.Params.image) }}
            {{ $img:= $img.Fill "70x70" }}
            {{ $imgWebp:= $img.Fill "70x70 webp" }}
            <img loading="lazy" decoding="async" class="rounded-circle" src="{{ $imgWebp.RelPermalink }}" alt="author image" onerror="this.onerror=null;this.src='{{$img.RelPermalink}}'">
            {{ else if .Params.Email }}
            <img loading="lazy" decoding="async" class="rounded-circle" src="https://www.gravatar.com/avatar/{{ md5 . }}?s=70&pg&d=identicon">
            {{ end }}
          </a>
        </div>
        <div class="user-info">
          <p class="font-weight-500 mb-0 h5"><a href="{{.RelPermalink}}">{{ .Title }}</a></p>
          <span>{{$publishDate}} - {{.ReadingTime}} {{i18n `min_read`}}</span>
        </div>
      </div>
    </div>
  </div>
  {{ end }}
</article>