{{ define "main" }}

{{ partial "components/page-header.html" . }}

<section class="section">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-lg-5 col-md-8 text-center mb-5 mb-lg-0" data-aos="fade-up">
        <div class="pr-0 pr-lg-5">
          {{ if fileExists (add `assets/` .Params.contact_image) }}
          {{$img:= resources.Get .Params.contact_image }}
          {{$img:= $img.Resize "575x"}}
          <img loading="lazy" decoding="async" class="img-fluid" width="{{$img.Width}}" height="{{$img.Height}}" src="{{$img.RelPermalink}}" alt="cobtact image" onerror="this.onerror=null;this.src='{{$img.RelPermalink}}'">
          {{end}}
        </div>
      </div>
      {{with site.Params.contact_form_action}}
      <div class="col-lg-5 col-md-10" data-aos="fade-up">
        <div class="contact-form">
          <div class="mb-4">
            <h3>{{i18n `send_a_message`}}</h3>
          </div>
          <form id="contact-form" name="contact" action="{{.}}" method="POST" data-netlify="true">
            <p id="form-status" class="form-status"></p>
            <div class="form-group">
              <label for="name">{{i18n `full_name`}}</label>
              <input class="form-control shadow-none" id="name" name="{{i18n `full_name`}}" type="text" placeholder="{{i18n `full_name`}}" required>
            </div>
            <div class="form-group">
              <label for="email">{{i18n `email`}}</label>
              <input class="form-control shadow-none" id="email" name="{{i18n `email`}}" type="email" placeholder="{{i18n `email`}}" required>
            </div>
            <div class="form-group">
              <label for="message">{{i18n `your_message`}}</label>
              <textarea class="form-control shadow-none" id="message" name="Comment" rows="4" required></textarea>
            </div>
            <button class="btn btn-primary w-100 mt-4" type="submit" aria-label="Send Message">{{i18n `send_message`}}</button>
          </form>
        </div>
      </div>

      <script>
        var form = document.getElementById('contact-form');
        async function handleSubmit(event) {
          event.preventDefault();
          var status = document.getElementById("form-status");
          var data = new FormData(event.target);
          fetch(event.target.action, {
            method: form.method,
            body: data,
            headers: {
              'Accept': 'application/json'
            }
          }).then(response => {
            status.innerHTML = "{{i18n `form_thanks_message`}}";
            form.reset()
          }).catch(error => {
            status.innerHTML = "{{i18n `form_error_message`}}";
          });
        }
        form.addEventListener("submit", handleSubmit)
      </script>
      {{end}}
    </div>

    <div class="section pb-0">
      <div class="row justify-content-center">
        <div class="col-12">
          <div class="section-title text-center" data-aos="fade-up">
            <p class="text-uppercase">{{i18n `contact_us`}}</p>
            <h2 class="title">{{i18n `get_in_touch`}}</h2>
          </div>


          {{ with site.GetPage (string "samantha-boer" | urlize | lower) }}
          <div class="d-flex justify-content-center card-author mt-4">
            <div class="user-image mr-3">
              <a href="{{.RelPermalink}}" title="{{.Title}}">
                {{ if .Params.image }}
                {{ $img:= resources.Get (.Params.image) }}
                {{ $img:= $img.Fill "70x70" }}
                {{ $imgWebp:= $img.Fill "70x70 webp" }}
                <img loading="lazy" decoding="async" class="rounded-circle" src="{{ $imgWebp.RelPermalink }}" alt="author image" onerror="this.onerror=null;this.src='{{$img.RelPermalink}}'">
                {{ else if .Params.Email }}
                <img loading="lazy" decoding="async" class="rounded-circle" src="https://www.gravatar.com/avatar/{{ md5 . }}?s=70&pg&d=identicon">
                {{ end }}
              </a>
            </div>
            <div class="user-info">
              <p class="font-weight-500 mt-3 h5 align-middle"><a href="{{.RelPermalink}}">{{ .Title }}</a></p>
            </div>
          </div>
          {{ end }}

        </div>

        {{with site.Params.contact_info.phone}}
        <div class="col-xl-3 col-lg-4 col-md-6 contact-widget" data-aos="fade-up">
          <div class="block text-center">
            <h3 class="mb-4">{{i18n `phone`}}</h3>
            <ul class="list-unstyled">
              {{range .}}
              {{if .}}
              <li><a href="tel:{{.}}"><i class="las la-phone"></i>088 2170800</a></li>
              {{end}}
              {{end}}
            </ul>
          </div>
        </div>
        {{end}}

        {{with site.Params.contact_info.email}}
        <div class="col-xl-3 col-lg-4 col-md-6 contact-widget" data-aos="fade-up" data-aos-delay="100">
          <div class="block text-center">
            <h3 class="mb-4">{{i18n `email`}}</h3>
            <ul class="list-unstyled">
              {{range .}}
              {{if .}}
              <li><a href="mailto:{{.}}"><i class="las la-envelope-open-text"></i>JGZiD@finalist.nl</a></li>
              {{end}}
              {{end}}
            </ul>
          </div>
        </div>
        {{end}}

      </div>
    </div>
  </div>
</section>

{{ end }}