<!-- 

PROJECT: Andromeda Hugo
VERSION: 1.0.0
AUTHOR: Gethugothemes
AUTHOR WEBSITE: https://gethugothemes.com

-->

<!DOCTYPE html>
<html lang="{{ site.LanguageCode | default `en-US` }}">

<head>
  {{ partial "essentials/head.html" . }}

  <!-- cache partial only in production -->
  {{ if hugo.IsProduction }}
  {{ partialCached "essentials/style.html" . }}
  {{ else }}
  {{ partial "essentials/style.html" . }}
  {{ end }}
</head>

<body>
  <!-- cache partial only in production -->
  {{ if hugo.IsProduction }}
  {{ partialCached "components/preloader.html" . }}
  {{ partialCached "essentials/header.html" . }}
  {{ else }}
  {{ partial "components/preloader.html" . }}
  {{ partial "essentials/header.html" . }}
  {{ end }}

  <main>
    <section class="section user-access">
      <div class="container">
        <div class="row justify-content-around align-items-center">
          <div class="col-lg-4 col-md-7 col-sm-10 col-11" data-aos="fade-up">
            <div class="text-center">
              <a class="mb-4 d-inline-block" href="{{ site.BaseURL | relLangURL }}">
                {{ $logo:= site.Params.logo }}
                {{ if fileExists (add `assets/` $logo) }}
                {{ $logo:= resources.Get $logo }}
                <img loading="prelaod" decoding="async" class="img-fluid" width="{{site.Params.logo_width}}" height="45"
                  src="{{$logo.RelPermalink}}" alt="{{ site.Title }}"
                  onerror="this.onerror=null;this.src='{{$logo.RelPermalink}}'">
                {{ else }}
                {{site.Params.logo_text | markdownify}}
                {{ end }}
              </a>
              <p>{{.Content}}</p>
              <div class="mt-5 pt-5">
                {{ if fileExists (add `assets/` .Params.image) }}
                {{$img:= resources.Get .Params.image }}
                {{$img:= $img.Resize "475x"}}
                <img loading="lazy" decoding="async" class="img-fluid" width="{{$img.Width}}" height="{{$img.Height}}"
                  src="{{$img.RelPermalink}}" alt="cobtact image"
                  onerror="this.onerror=null;this.src='{{$img.RelPermalink}}'">
                {{end}}
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-8 col-sm-10 col-11 user-access-form" data-aos="fade-up" data-aos-delay="150">
            <div class="section-title text-center">
              <h2 class="title">Maak hier je demo account aan</h2>
            </div>
            <form name="aanmeldingen" action="/" method="POST" class="needs-validation" data-netlify="true" novalidate>
              <div class="form-group">
                <label for="name">Naam</label>
                <input class="form-control shadow-none" id="name" name="{{i18n `full_name`}}" type="text" placeholder="Jouw naam" required>
                <p class="font-weight-bold invalid-feedback">Naam is verplicht!</p>
              </div>
              <div class="form-group">
                <label for="email">E-mail</label>
                <input class="form-control shadow-none" id="email" name="{{i18n `email`}}" type="email" placeholder="Voer hier je e-mailadres in" required>
                <p class="font-weight-bold invalid-feedback">E-mail is verplicht!</p>
              </div>
              <!--
              <div class="form-group">
                <label for="password">Wachtwoord</label>
                <input class="form-control shadow-none" id="password" type="password" placeholder="Voer je wachtwoord in"
                  required>
                <p class="font-weight-bold invalid-feedback">Wachtwoord is verplicht!</p>
              </div>
              -->
              <button class="btn btn-primary w-100 mt-4 text-uppercase" type="submit" aria-label="Sign Up">Aanmelden</button>
            </form>

            <!--
            <p class="text-center my-3 h5">Otherwise Log In With</p>
            <div class="d-block d-sm-flex">
              <a href="#!" class="btn w-100 mr-0 mr-sm-2" style="background:#4064AD;color:#fff"><i
                  class="lab la-facebook-f mr-1"></i>Facebook</a>
              <a href="#!" class="btn w-100 mt-3 mt-sm-0 ml-0 ml-sm-2" style="background:#E24D48;color:#fff"><svg
                  width="14" height="14" class="mr-1" style="vertical-align:-2px" viewBox="0 0 19 19" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M18.49 9.72218C18.49 15.1425 14.8185 19 9.39656 19C4.19814 19 0 14.7556 0 9.5C0 4.24436 4.19814 0 9.39656 0C11.9276 0 14.0569 0.938508 15.6976 2.48609L13.14 4.97218C9.79439 1.70847 3.57297 4.16008 3.57297 9.5C3.57297 12.8135 6.19112 15.4988 9.39656 15.4988C13.1173 15.4988 14.5116 12.802 14.7314 11.4038H9.39656V8.13629H18.3422C18.4294 8.62278 18.49 9.09012 18.49 9.72218Z"
                    fill="white" /></svg>Google</a>
            </div>
            <p class="text-center mb-0 mt-3">Heb je al een account? <a class="link-primary" href="{{`signin/` | relLangURL }}">Inloggen</a></p>
            -->

          </div>
        </div>
      </div>
    </section>
  </main>

  <!-- cache partial only in production -->
  {{ if hugo.IsProduction }}
  {{ partialCached "essentials/script.html" . }}
  {{ else }}
  {{ partial "essentials/script.html" . }}
  {{ end }}
</body>

</html>