<!-- 

PROJECT: Andromeda Hugo
VERSION: 1.0.0
AUTHOR: Gethugothemes
AUTHOR WEBSITE: https://gethugothemes.com

-->

<!DOCTYPE html>
<html lang="{{ site.LanguageCode | default `en-US` }}">

<head>
	{{ partial "essentials/head.html" . }}

	<!-- cache partial only in production -->
	{{ if hugo.IsProduction }}
	{{ partialCached "essentials/style.html" . }}
	{{ else }}
	{{ partial "essentials/style.html" . }}
	{{ end }}
</head>

<body>
	<!-- cache partial only in production -->
	{{ if hugo.IsProduction }}
	{{ partialCached "components/preloader.html" . }}
	{{ partialCached "essentials/header.html" . }}
	{{ else }}
	{{ partial "components/preloader.html" . }}
	{{ partial "essentials/header.html" . }}
	{{ end }}

	<main>
		<section class="section user-access">
      <div class="container">
        <div class="row justify-content-around align-items-center">
          <div class="col-lg-4 col-md-7 col-sm-10 col-11" data-aos="fade-up">
            <div class="text-center">
              <a class="mb-4 d-inline-block" href="{{ site.BaseURL | relLangURL }}">
                {{ $logo:= site.Params.logo }}
                {{ if fileExists (add `assets/` $logo) }}
                {{ $logo:= resources.Get $logo }}
                <img loading="prelaod" decoding="async" class="img-fluid" width="{{site.Params.logo_width}}" height="45" src="{{$logo.RelPermalink}}" alt="{{ site.Title }}" onerror="this.onerror=null;this.src='{{$logo.RelPermalink}}'">
                {{ else }}
                {{site.Params.logo_text | markdownify}}
                {{ end }}
              </a>
              <p>{{.Content}}</p>
              <div class="mt-5 pt-5">
                {{ if fileExists (add `assets/` .Params.image) }}
                {{$img:= resources.Get .Params.image }}
                {{$img:= $img.Resize "475x"}}
                <img loading="lazy" decoding="async" class="img-fluid" width="{{$img.Width}}" height="{{$img.Height}}" src="{{$img.RelPermalink}}" alt="cobtact image" onerror="this.onerror=null;this.src='{{$img.RelPermalink}}'">
                {{end}}
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-8 col-sm-10 col-11 user-access-form" data-aos="fade-up" data-aos-delay="150">
            <div class="section-title text-center">
              <h2 class="title">Inloggen</h2>
            </div>
            <form method="POST" class="needs-validation" novalidate>
              <div class="form-group">
                <label for="email">E-mail</label>
                <input class="form-control shadow-none" id="email" type="email" placeholder="Voer je e-mail"
                  required>
                <p class="font-weight-bold invalid-feedback">E-mail is verplicht!</p>
              </div>
              <div class="form-group">
                <label for="password">Wachtwoord</label>
                <input class="form-control shadow-none" id="password" type="password" placeholder="Voer je wachtwoord in"
                  required>
                <p class="font-weight-bold invalid-feedback">Voor je wachtwoord in!</p>
              </div>
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="save-info" checked>
                <label for="save-info" class="custom-control-label font-weight-500" role="button">Onthoud mij</label>
              </div>
              <button class="btn btn-primary w-100 mt-4 text-uppercase" type="submit" aria-label="Sign In">Inloggen</button>
            </form>
    
            <!--
              <p class="text-center mb-0 mt-3">Geen Account? <a class="link-primary" href="{{`signup/` | relLangURL }}">Aanmelden</a>
              -->
            </p>
          </div>
        </div>
      </div>
    </section>
	</main>

	<!-- cache partial only in production -->
	{{ if hugo.IsProduction }}
	{{ partialCached "essentials/script.html" . }}
	{{ else }}
	{{ partial "essentials/script.html" . }}
	{{ end }}
</body>

</html>