{{with site.Params.cta}}
{{if .enable}}
<section class="call-to-action has-bg-color">
  <div class="container-xxl">
    <div class="row">
      <div class="col-lg-12">
        <div class="block">
          <div class="section-title text-center mb-0" data-aos="fade-up">
            <h2 class="title underline-none">{{.title | markdownify}}</h2>
            <p>{{.content | markdownify}}</p>
            <a href="../signup/" class="btn btn-primary mt-4">{{.button}}</a>
          </div>
        </div>

        <div class="has-circle has-bg-anim" data-aos="fade-in">
          <svg class="text-primary" style="opacity:.12" width="100%" height="100%" viewBox="0 0 1381 283" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1379 0.998871C1346.3 58.3528 1186.5 172.501 961.409 121.133C645.85 49.1205 596.5 68.5008 448.172 194.674C386.651 247.006 248.005 308.633 1 265.688" stroke="currentColor" stroke-width="4" stroke-dasharray="10 10"/></svg>
          <span class="circle-1 ratio-32"></span>
          <span class="circle-2 ratio-85 fill"></span>
          <span class="circle-3 ratio-47"></span>
          <span class="circle-4 ratio-20 fill"></span>
          <span class="circle-5 ratio-73"></span>
          <span class="circle-6 ratio-37"></span>
        </div>
      </div>
    </div>
  </div>
</section>
{{end}}
{{end}}


<footer class="footer pb-5 {{if site.Params.cta.enable}}{{else}}mt-0{{end}}">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12">
        <div class="border-top pb-5" data-aos="fade-up"></div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6" data-aos="fade-up">
        <div class="pr-4">
          <a class="navbar-brand" href="{{ site.BaseURL | relLangURL }}/">
            {{ $logoPath:= site.Params.logo }}
            {{ $logoWidth:= replace site.Params.logo_width "px" "x" }}
    
            <!-- checking logo existance -->
            {{ if $logoPath }}
            {{ if fileExists (add `assets/` $logoPath) }}
            {{ $logo:= resources.Get $logoPath }}
    
            <!-- checking gif -->
            {{ $logoExt := path.Ext $logo }}
            {{ if eq $logoExt ".gif" }}
            {{ .Scratch.Set "logo" ($logo.Resize $logoWidth).RelPermalink }}
            <!-- checking svg -->
            {{ else if eq $logoExt ".svg"}}
            {{ .Scratch.Set "logo" $logo.RelPermalink }}
            <!-- logo fallback for svg -->
            {{ .Scratch.Set "logo_fallback" $logo.RelPermalink }}
            {{ else }}
            <!-- logo processing to webp -->
            {{ $logoDefaultWidth:= add (string $logo.Width) "x"}}
            {{ $logoWidth:= $logoWidth | default $logoDefaultWidth }}
            {{ $options := add (string $logoWidth) " webp" }}
            {{ .Scratch.Set "logo" ($logo.Resize $options).RelPermalink }}
            <!-- logo fallback -->
            {{ .Scratch.Set "logo_fallback" ($logo.Resize $logoWidth).RelPermalink }}
            {{ end }}
    
            <img loading="prelaod" decoding="async" class="img-fluid mb-4" {{if ne $logoExt `.svg`}}
              width="{{$logoWidth | default $logo.Width}}" height="{{$logo.Height}}" {{end}} src="{{.Scratch.Get `logo`}}"
              alt="{{ site.Title }}" onerror="this.onerror=null;this.src='{{.Scratch.Get `logo_fallback`}}'">
            {{ end }}
            <!-- logo text -->
            {{ else if site.Params.logo_text }}
            {{ site.Params.logo_text | markdownify }}
            <!-- logo title -->
            {{ else }}
            {{ site.Title | markdownify }}
            {{ end }}
          </a>
          <p class="mb-0">{{site.Params.footer_info | markdownify}}</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 mt-5 mt-sm-0" data-aos="fade-up" data-aos-delay="50">
        <div class="footer-widget">
        </div>
      </div>
      <div class="col-lg-2 col-md-6 col-sm-6 mt-5 mt-lg-0" data-aos="fade-up" data-aos-delay="100">
        <div class="footer-widget">
          <h4 class="mb-4">{{i18n `quick_links`}}</h4>

          <ul class="footer-links list-unstyled">
            {{range site.Menus.footer}}
            <li><a href="{{.URL | relLangURL}}">{{.Name}}</a></li>
            {{end}}
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 mt-5 mt-lg-0" data-aos="fade-up" data-aos-delay="150">
        <div class="footer-widget">
          <h4 class="mb-4">{{i18n `location_contact`}}</h4>

          {{with site.Params.contact_info}}
          <ul class="footer-links list-unstyled">
            <li>{{.address | markdownify}}</li>
            {{range first 1 .phone}}
            {{if .}}
            <li><a href="tel:{{.}}">{{.}}</a></li>
            {{end}}
            {{end}}
          </ul>
          {{end}}

          {{with site.Params.contact_info.email}}
          <ul class="footer-links list-unstyled mb-4">
            {{range first 1 .}}
            {{if .}}
            <li><a href="mailto:{{.}}">{{.}}</a></li>
            {{end}}
            {{end}}
          </ul>
          {{end}}

        </div>
      </div>
    </div>
  </div>
</footer>

<!--
<div class="footer-bottom">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="py-4 border-top text-center">
          <p class="mb-0 content">{{site.Params.copyright | markdownify}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
-->
