<!-- navigation -->
<div class="header-height-fix"></div>
<header class="header-nav">
  <div class="container-xxl">
     <div class="row">
        <div class="col-12">
           <nav class="navbar navbar-expand-lg navbar-light p-0">
              <a class="navbar-brand" href="{{ site.BaseURL | relLangURL }}/">
                {{ partial "images/logo.html" . }}
                
              </a>

              <div class="nav-controller d-flex align-items-center">
                {{ if .IsTranslated }}
                <div class="d-block d-lg-none text-center">
                  <select class="mx-3 border-0 font-weight-bold" id="select-language" onchange="location = this.value;">
                    {{ $siteLanguages := site.Languages}}
                    {{ $pageLang := .Page.Lang}}
                    {{ range .Page.AllTranslations }}
                    {{ $translation := .}}
                    {{ range $siteLanguages }}
                    {{ if eq $translation.Lang .Lang }}
                    {{ $selected := false }}
                    {{ if eq $pageLang .Lang}}
                    <option id="{{ $translation.Language }}" value="{{ $translation.RelPermalink }}" selected>{{ .LanguageName }}
                    </option>
                    {{ else }}
                    <option id="{{ $translation.Language }}" value="{{ $translation.RelPermalink }}">{{ .LanguageName }}</option>
                    {{ end }}
                    {{ end }}
                    {{ end }}
                    {{ end }}
                  </select>
                </div>
                {{ end }}
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navHeader" aria-controls="navHeader" aria-expanded="false" aria-label="Toggle navigation">
                  <i class="d-inline lab la-buromobelexperte"></i>
                  <i class="d-none las la-times"></i>
                </button>
              </div>

              <div class="collapse navbar-collapse" id="navHeader">
                <ul class="navbar-nav mx-auto">                  
                  {{ $currentPage := . }}
                  {{ range site.Menus.main }}
                  {{ $menuURL := .URL | absLangURL }}
                  {{ $pageURL:= $currentPage.Permalink | absLangURL }}
                  {{ $active := eq $menuURL $pageURL }}
                  {{ if .HasChildren }}
                  <li class="nav-item dropdown 
                  {{ range .Children }}
                  {{ $childURL := .URL | absLangURL }}
                  {{ $active := eq $childURL $pageURL }}
                  {{ if $active }}active{{ end }}
                  {{ end }}">

                    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      {{ .Name }}
                    </a>
                    <ul class="dropdown-menu">
                      {{ range .Children }}
                      {{ $childURL := .URL | absLangURL }}
                      {{ $active := eq $childURL $pageURL }}
                      <li>
                        <a class="dropdown-item {{if $active}}active{{end}}" {{if findRE `^http` .URL}}target="_blank" rel="noopener" {{end}}
                        href="{{if findRE `^#` .URL}}{{if not $.IsHome}}{{site.BaseURL | relLangURL}}{{end}}{{ .URL }}{{else}}{{.URL | relLangURL}}{{end}}">{{ .Name }}</a>
                      </li>
                      {{ end }}
                    </ul>
                  </li>
                  {{ else }}
                  <li class="nav-item {{if $active}}active{{end}}">
                    <a class="nav-link" {{if findRE `^http` .URL}}target="_blank" rel="noopener" {{end}}
                      href="{{if findRE `^#` .URL}}{{if not $.IsHome}}{{site.BaseURL | relLangURL}}{{end}}{{ .URL }}{{else}}{{.URL | relLangURL}}{{end}}">{{ .Name }}</a>
                  </li>
                  {{ end }}
                  {{ end }}
                </ul>
        
                <div class="navbar-right">
                  <!-- Language List 
                  {{ if .IsTranslated }}
                  <div class="d-none d-lg-inline text-center">
                    <select class="mx-3 border-0 font-weight-bold" id="select-language-" onchange="location = this.value;">
                      {{ $siteLanguages := site.Languages}}
                      {{ $pageLang := .Page.Lang}}
                      {{ range .Page.AllTranslations }}
                      {{ $translation := .}}
                      {{ range $siteLanguages }}
                      {{ if eq $translation.Lang .Lang }}
                      {{ $selected := false }}
                      {{ if eq $pageLang .Lang}}
                      <option id="{{ $translation.Language }}" value="{{ $translation.RelPermalink }}" selected>{{ .LanguageName }}
                      </option>
                      {{ else }}
                      <option id="{{ $translation.Language }}" value="{{ $translation.RelPermalink }}">{{ .LanguageName }}</option>
                      {{ end }}
                      {{ end }}
                      {{ end }}
                      {{ end }}
                    </select>
                  </div>
                  {{ end }}
                  -->

                  {{ if site.Params.navigation_button.enable }}
                  <a href="{{ site.Params.navigation_button.link | relURL }}" class="btn btn-primary">{{ site.Params.navigation_button.label }}</a>
                  {{ end }}
                </div>
              </div>
          </nav>
        </div>
     </div>
  </div>
</header>
<!-- /navigation -->